<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net452" />
  <package id="ExcelDataReader" version="3.4.1" targetFramework="net452" />
  <package id="ExcelDataReader.DataSet" version="3.4.1" targetFramework="net452" />
  <package id="ExcelDataReader-OptionalStreams" version="3.4.1" targetFramework="net452" />
  <package id="MailKit" version="1.18.0" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net452" />
  <package id="MimeKit" version="1.18.0" targetFramework="net452" />
  <package id="SevenZip" version="19.0.0" targetFramework="net452" />
  <package id="SevenZipExtractor" version="1.0.7" targetFramework="net452" />
  <package id="SevenZipSharp" version="0.64" targetFramework="net452" />
  <package id="SevenZipSharp.Interop" version="19.0.2" targetFramework="net452" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net452" />
</packages>